<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Editar Produto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<h1 style="text-align: center;" >Editar informações de produto: {{ product.name }}</h1>
<form action="/edit/{{product.id}}" class="container" method="post">
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px;">
            <input type="text" name="image" id="image" placeholder="URL da imagem do produto" class="form-control" value="{{ product.image }}">
        </div>
        <div class="col-md-6" style="margin-top: 10px;">
            <input type="text" name="name" id="name" placeholder="Nome do produto" class="form-control" value="{{ product.name }}">
        </div>
        <div class="col-md-6" style="margin-top: 10px;">
            <input type="text" name="description" id="description" placeholder="Descrição do produto" class="form-control" value="{{ product.description }}">
        </div>
        <div class="col-md-6" style="margin-top: 10px;">
            <input type="text" name="price" id="price" placeholder="Preço do produto (R$)" class="form-control" value="{{ product.price }}">
        </div>
        <div class="col-md-6" style="margin-top: 10px;">
            <input type="text" name="discount_percent" id="discount_percent" placeholder="Porcentagem do desconto" class="form-control" value="{{ product.discount_percent }}">
        </div>        
    </div>
    <br>
    <div class="col-xs-12">
        <button type="submit" class="btn btn-block btn-success">Salvar</button>
    </div>
</form>

</body>

</html>