<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Editar Produto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<h1 style="text-align: center;" >{{ product.name }}</h1>
<div>
    <div class="row">
        <div class="col-md-6" style="align-content: center;">
            <p class="col-md-6">{{ product.name }}</p>
        </div>
        <div class="col-md-6" style="align-content: center;">
            <p class="col-md-6">{{ product.description }}</p>
        </div>
        <div class="col-md-6" style="align-content: center;">
            <p class="col-md-6">{{ product.price }}</p>
        </div>
        <div class="col-md-6" style="align-content: center;">
            <p class="col-md-6">{{ product.discount_percent }}</p>
        </div>        
    </div>
    <br>
    <div class="col-xs-12">
        <button onclick="window.location='/edit/{{product.id}}'" class="btn btn-block btn-primary">Editar</button>
    </div>
</div>

</body>

</html>